{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block extra-style %}
    {% endblock %}
</head>

{#<link rel="stylesheet" href="{% static 'style.css' %}">#}
<link rel="stylesheet" href="{% static 'bootstrap-5.2.3-dist/css/bootstrap-grid.min.css' %}">
<body>
{% include 'includes/navbar.html' %}
{% block content %}

{% endblock %}
<script src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.bundle.js' %}"></script>
</body>
</html>